{% load staticfiles %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>更新日志</h1>
            <hr class="layui-border-red">
            <p>2022-4-10：添加了IP查询</p>
            <p>2022-4-11：添加了端口扫描</p>
            <p>2022-4-12：添加了子域名探测</p>
            <p>2022-4-13：添加了字典生成</p>
            <p>2022-4-14：添加了目录扫描</p>
            <p>2022-4-16：添加了ftp笑脸漏洞探测</p>
            <p>2022-4-18：添加了http.sys漏洞探测</p>
            <p>2022-5-19：添加了hash加密</p>
            <p>2022-5-20：添加了端口监听</p>
            <p>2022-6-23：添加了ssh爆破</p>
            <p>2022-7-12：添加了md5撞库</p>
            <p>2022-9-19：添加了url编码</p>
            <p>2022-9-23：添加了ftp爆破</p>
		</div>
	</div>
</div>