{% extends "base.html" %}
{% block content1%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="background-color:#23262E;padding: 67px;">
            <h1><b>
                    <font color="white">
                        <p style="text-align:center">忘 记 密 码</p>
                    </font>
                </b></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-4" style="padding:60px;">
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
                {% if tips %}
                <div class="alert alert-{{ alertType }}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button>
                    {{ tips }}
                </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <hr>
                    <label for="username">
                        用户名
                    </label>
                    <input class="form-control" type="text" name="username" id="username" placeholder="请输入您的用户名" value="{{ username }}"/>
                </div>
                <div class="form-group"> 
                    <label for="email">
                        邮箱
                    </label>
                    <input class="form-control" type="text" name="email" id="email" placeholder="请输入您的邮箱" value="{{ email }}" />
                </div>
                {% if new_password_flag %}
                    <div class="form-group">
                        <label for="VerificationCode">
                            验证码
                        </label>
                        <input class="form-control" type="text" name="VerificationCode" id="VerificationCode" placeholder="请输入您接收到的验证码" />
                    </div>
                    <div class="form-group">
                        <label for="new_password">
                            新密码
                        </label>
                        <input class="form-control" type="password" name="new_password" id="new_password" placeholder="请输入新密码" />
                    </div>
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">{{ button }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% load staticfiles %}
<script src="{% static "layui/layui.all.js" %}"></script>
{% endblock %}